<h1>Create new chirp</h1>

<%= form_for @chirp do |f|%>
    <label>Chirp Content</label>
    <%=f.text_field :content%>
    
    <label>About</label>
    <p><em>The person this chirp is about. This will be only viewable by people who guess it correctly</em></p>
    <%=f.text_field%>

    <%= f.check_box :private %>
    <p><em>Will users be able to guess who the chirp is about?</em></p>

    <input type="submit"  value="Create SubChirp">
<%end%>